<div>
  <h1 class="page-title">{{titulo}}</h1>

  <h1> Coleção </h1>

  <form [formGroup]="colecaoForm">

    <div class="titulo-underline">
      <h4>Informação</h4>
    </div>
    <div class="container">
      <div class="row">
        <br>

        <div class="col">
          <div class="input-group mb-3">
            <field class="labes" label="Nome" required="true">
              <input type="text" class="form-control" formControlName="nome" />
            </field>
          </div>
        </div>

        <div class="col">
          <div class="input-group mb-3">
            <field class="labes" label="Data Criação" required="true">
              <input  type="date" class="form-control" formControlName="datacriacao" placeholder="yyyy-MM-dd"
                min="2020-10-01" max="2049-12-31" />
            </field>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">

      <button class="btn btn-primary" [routerLink]="['/colecao/editar', colecao.id]"
        *ngIf="colecaoForm.disabled">Editar</button>

      <button class="btn btn-success" (click)="onSave(colecaoForm.value)" *ngIf="!colecaoForm.disabled">Salvar</button>

      <button class="btn btn-default ml-2" routerLink="/colecao">Cancelar</button>
    </div>

  </form>
</div>