<div class="center">
  <div class="card border-primary bg-transparent mb-3 text-center" style="max-width: 18rem;">
    <div class="card-header border-primary">Relatorios </div>
    <div class="card-body">
      <h5 class="card-title text-center"></h5>
    </div>
    <div>
        <div class="row">
            <div class="col">
              <button type="button" class="btn btn-primary" id="btn_os" (click)="Adicionar()">Ficha Técnica</button>
              <br>
            </div>
          </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary" id="btn_os" (click)="Adicionar()">Custo x Coleção</button>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary" id="btn_os" (click)="Adicionar()">Ordem Serviços x Produtos</button>
          <br>
        </div>
        <br>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary" id="btn_os" (click)="Adicionar()">Contatos</button>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
