#btn_os{
  margin-bottom: 10px;
  margin-right: 4px;
}

h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


#tr_{
  border-radius: 10px;
}

thead th {
  border-bottom: 1px solid #333; 
  text-align: center; 
}
tbody td{
  text-align: center;
}

.btvolta{
  text-align: right;
}