<h1>Lista de Produtos: Verão</h1>

<button type="button" class="btn btn-primary" id="btn_os" (click)="Adicionar()">Adicionar Produto</button>
<!-- <button type="button" class="btn btn-danger" id="btn_os" [routerLink]="['/os/incluir']">Devolver OS</button>
<button type="button" class="btn btn-success" id="btn_os" [routerLink]="['/os/incluir']">Finalizar OS</button> -->

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Coleção</th>
      <th scope="col">Produto</th>
      <th scope="col">Modelo</th>
      <th scope="col">Enfesto</th>
      <th scope="col">Data Criação</th>
      <th scope="col">Status</th>
      <th scope="col">Operações</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let ordemservico of ordemservicos" ondblclick="myFunction()" id='demo'> -->
      <tr>
      <td>00001</td>
      <td>00001</td>
      <td>Calça Verão</td>
      <td>Único</td>
      <td>25/11/2018</td>
      <td>Em Andamento</td>
      <td>
        <a [routerLink]="['/os/visualizar/1']">Visualizar</a> |
        <a [routerLink]="['/os/alterar/1']">Alterar</a> |
        <a [routerLink]="['/os/1']">Excluir</a>|
        <a [routerLink]="['/os']">Finalizar</a>|
        <a [routerLink]="['/informacao']">OS</a>|
        <a [routerLink]="['/contatops']">Contato</a>
      </td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-default" id="btn_os" [routerLink]="['/colecao']">Voltar</button>
<script>
  function myFunction() {
    document.getElementById("demo").style.color = "blue";
  }
</script>
