<h1>Lista de Produtos: Verão</h1>


<!-- <button type="button" class="btn btn-primary" id="btn_os" (click)="Adicionar()">Adicionar Produto</button> -->

<button class="btn btn-primary m-3" [routerLink]="['/os/novo']">
  Adicionar Produto
</button>



<table class="table table-hover">
  <thead>
    <tr>
      <!-- <th>Coleção</th> -->
      <th>Produto</th>
      <th>Modelo</th>
      <th>Enfesto</th>
      <th>Data Criação</th>
      <th>Status</th>
      <th>Operações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let os of oss">
    
      <!-- <td>{{ colecao.id }}</td>  -->
      <td>{{ os.id }}</td>
      <td>{{ os.nomemodelo }}</td>
      <td>{{ os.enfesto }}</td>
      <td>{{ os.dataInicial | date: 'dd/MM/yyyy' }}</td>
      <td>{{ os.status }}</td>
      <td>
        <a [routerLink]="['/os/visualizar', os.id]">Visualizar</a> |
        <a [routerLink]="['/os/editar', os.id]">Editar</a> |
        <a (click)="onDelete(os.id)">Excluir</a>
        <!-- <a [routerLink]="['/os']">Finalizar</a>| -->
        <!-- <a [routerLink]="['/informacao']">OS</a>|
        <a [routerLink]="['/contatops']">Contato</a> -->
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-default" id="btn_os" [routerLink]="['/colecao']">Voltar</button>
