<!-- < *ngIf="syncFlag"> -->
  <h1>Produto</h1>

<h1 class="page-title">{{ titulo }}</h1>

  <form [formGroup]="osForm">

    <div class="titulo-underline">
      <h4>Informações Gerais</h4>
    </div>
    <div class="container">
      <div class="row">
        <br>
        <div class="col">
          <div class="input-group mb-3">
             <field required="true">Tipo Modelo
              <input type="text" class="form-control" formControlName="tpmodelo" size="35" />
            </field> 
          </div>
        </div>

        <div class="col">
          <div class="input-group mb-3">
            <field required="true">Modelo
              <input type="text" class="form-control" formControlName="nomemodelo" />
            </field>
          </div>
        </div>

        <!-- <div class="w-100"></div> -->

        <div class="col">
          <div class="input-group mb-3">
            <field required="true">Matriz Referência
              <input type="text" class="form-control" formControlName="matrizref" size="35">
            </field>
          </div>
        </div>

        <div class="col">
          <div class="input-group mb-3">
              <field required="true">Enfesto
                <select class="form-control" formControlName="enfesto">
                  <option value="UNICO">Único</option>
                  <option value="DUPLO">Duplo</option>
                </select>
            </field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <field required="true">Data Criação
              <input type="date" class="form-control" formControlName="dataInicial" placeholder="yyyy-MM-dd" min="2020-10-01" max="2049-12-31"/>
            </field>
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <field required="true">Data Final
              <input type="date" class="form-control" formControlName="dataFinal" placeholder="yyyy-MM-dd" min="2020-10-30" max="2049-12-31"/>
            </field>
          </div>
        </div>

        <div class="col">
          <div class="input-group mb-3">
            <field required="true">Status
              <select class="form-control" formControlName="status">
                <option value="ANDAMENTO">Em andamento</option>
                <option value="FINALIZADO">Finalizado</option>
              </select>
            </field>
          </div>
        </div>

        <div class="input-group mb-3 col-12">
          <div class="custom-file">
            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Escolha a Imagem</label>
            <input type="file" class="custom-file-input" id="inputGroupFile02">
          </div>
        </div>
      </div>
    </div>

    <!-- Tecido -->
    <div class="titulo-underline">
      <h4>Informações do Tecido</h4>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="input-group mb-3">
            <field required="true">Tecido
              <input type="text" class="form-control" size="20" formControlName="tecido"/>
            </field>
          </div>
        </div>
        <div class="col-4">
          <div class="input-group mb-3">
            <field required="true">Lagura
              <input type="text" class="form-control" formControlName="laguratecido" digit/>
            </field>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <div class="input-group mb-3">
              <field required="true">Composição
                <input type="text" class="form-control" formControlName="composicaotecido">
              </field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- <div>
    <div class="titulo-underline">
      <h4>Composição Custo</h4>
    </div> -->

    <!-- <form [formGroup]="materiaisForm" novalidate>
      <div class="container">
        <div class="titulo-underline">
          <div class="row">
            <div class="col">
              <h4>Materiais</h4>
            </div>
            <div class="col">
              <a class="btn" (click)="addmat()">Add Mat</a>
            </div>
          </div>
        </div>

        <div formArrayName="materiais" *ngFor="let materiais of materiaisForm.controls.materiais.controls; let i = index;">
          <div [formGroupName]="i">
            <div class="row">
              <div class="col-1">
                
              </div>
              <div class="col-2">Nome
                <input type="text" class="form-control" formControlName="item" >
              </div>
              <div class="col-2">Medida
                <input type="text" class="form-control" formControlName="medida">
              </div>
              <div class="col-2">Quantidade
                <input type="text" class="form-control" formControlName="qtd">
              </div>
              <div class="col-2">Custo
                <input type="text" class="form-control" formControlName="custo">
              </div>
              <button type="button" class="close" aria-label="Close" (click)="removemat(i)"> <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <p> Custo materiais R$ 0.00 </p>
      </div>
    </form> -->

    <!-- <form [formGroup]="servicosForm" novalidate>
      <div class="container">
        <div class="titulo-underline">
          <div class="row">
            <div class="col">
              <h4>Serviços</h4>
            </div>
            <div class="col">
              <a class="btn" (click)="addservico()">Add Serv</a>
            </div>
          </div>
        </div>

        <div formArrayName="servicos" *ngFor="let servico of servicosForm.controls.servicos.controls; let i = index;">
          <div [formGroupName]="i">
            <div class="row">
              <div class="col-1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">Serviço</span>
                </div>
              </div>
              <div class="col-5">
                <input type="text" class="form-control" formControlName="servico" placeholder="Nome">
              </div>
              <div class="col-5">
                <input type="text" class="form-control" formControlName="custo" placeholder="Custo">
              </div>
              <button type="button" class="close" aria-label="Close" (click)="removeservico(i)"> <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="w-100"></div>
          </div>
        </div>
        <p> Custo serviço R$ 0.00 </p>
      </div>
    </form>
    <h4> Custo Total R$ 0.00 </h4>
  </div> -->

  <div class="panel-footer">

    <button class="btn btn-primary"
      [routerLink]="['/os/editar', os.id]"
      *ngIf="osForm.disabled">
      Editar
    </button>

    <button class="btn btn-success"
      (click)="onSave(osForm.value)"
      *ngIf="!osForm.disabled">
      Salvar
    </button>

    <button class="btn btn-default ml-2"
      routerLink='/os'>
      Cancelar
    </button>
  </div>
 <!-- fim panel-->


<!-- <pre>{{osForm.value | json}}</pre> -->
