<h1>Lista de Coleção</h1>

<button type="button" class="btn btn-primary" id="btn_os" [routerLink]="['/colecao/incluir']">Adicionar Coleçãos</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Criação</th>
      <th scope="col">Operações</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let colecao of colecoes" ondblclick="selecCoelcao(i)"> -->
    <tr>
      <td>00001</td>
      <td>Verão</td>
      <td>20/10/2020</td>
      <td>
        <a [routerLink]="['/os',1]">Produto</a> |
        <a [routerLink]="['/colecao/visualizar',1]">Visualizar</a> |
        <a [routerLink]="['/colecao/alterar',1]">Alterar</a> |
        <a [routerLink]="['/colecao']">Excluir</a>
      </td>
    </tr>
  </tbody>
</table>
