<h1>Lista de Coleção</h1>

<button type="button" class="btn btn-primary" id="btn_os" [routerLink]="['/colecao/novo']">Adicionar Coleçãos</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Criação</th>
      <th>Operações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let colecao of colecoes">
      <td>
        {{ colecao.nome }}
      </td>
      <td>
        {{ colecao.datacriacao | date: 'dd/MM/yyyy'}}
      </td>

      <td>
        <a [routerLink]="['/os',colecao.id]">Produto</a> |
        <a [routerLink]="['/colecao/visualizar', colecao.id ]">Visualizar</a> |
        <a [routerLink]="['/colecao/editar',colecao.id]">Editar</a> |
        <a (click)="onDelete(colecao.id)">Excluir</a>
      </td>
    </tr>
  </tbody>
</table>